@import 'components/_switch.scss';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/*************** VARIABLES **************/

$green_main: #2ECC71;
$pink: #F03379;
$hover_pink: #E5296C;

/*************** GENERAL STYLE **************/

* {
    box-sizing: border-box;
}

html, body {
   font-family: 'Raleway', Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.pink-button {
    width: 200px;
    background-color: $pink;
    border-radius: 25px;
    color: white;
    padding: 1em;
    border: none;
    outline: none;
    letter-spacing: 0.1em;
}

/*************** END GENERAL STYLE **************/

/*************** STYLE FOR NAVIGATION BAR **************/

#wrapper {
    max-width: 95%;
    margin: 0 auto;
}

.site-header {
    padding: 1.8em 1.8em;
    height: 120px;
}

.logo {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: black;
    float: left;
    span {
        color: #2ECC71;
    }
}

#main_nav {
    float: right;
    padding-top: 0.8em; 
}

.login_field {
    border-radius: 10px;    
    padding-left: 30px;
}

#username-field {
    @extend .login_field;
    background: url(../images/user.svg) no-repeat scroll 7px 7px;
}

#password-field {
    @extend .login_field;
    margin: 0 1em;
    background: url(../images/lock.svg) no-repeat scroll 7px 7px;
}

#login-button {
    border-radius: 25px;
    border: 1px solid $green_main;
    outline: none;
    &:hover {
        background-color: $green_main;
    }
}

.switch-option {
    margin-top: 10px;
    span {
        margin-left: 5px;
        position: relative;
        top: -12px;
    }
}

/*************** END STYLE FOR NAVIGATION BAR **************/


/*************** STYLE FOR BIG BANNER **************/

#big-banner {
    background: url(../images/banner2.jpg) no-repeat;
}

#learning-button {
    @extend .pink-button;
    margin-top: 15em; 
    &:hover {
        background-color: $hover_pink;
    }
}

#learning-button + p a {
    color: white;
    letter-spacing: 0.1em;
    font-family: "HelveticaNeue-Light";
    position: relative;
    top: 16px;
    left: -16px;
    &:hover {
        text-decoration: none;
        color: black;
    }
}

#intro-text {
    margin-top: 100px;
    h1 {
        color: white;
        letter-spacing: 0.1em;
        font-size: 3em;
        font-weight: 500;
    }
    p {
        margin-top: 115px;
        margin-bottom: 115px;
        font-size: 1.2em;
        color: white;
        letter-spacing: 0.1em;
        line-height: 2.5em;
    }
}

/*************** END STYLE FOR BIG BANNER **************/

/*************** STYLE FOR STATS ABOUT MS **************/

#stat {
    margin-top: 50px;
    h2, p {
        text-align: center;
    }
    h2 {
        font-weight: bold;
        font-size: 3em;
        margin-bottom: 40px;
    }
    h2 + p {
        font-size: 1.5em;
        width: 70%;
        margin: 50px auto;
    }
}

.round-number {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    width: 75px;
    height: 75px;
    padding: 15px;
    font-weight: bold;
    font-size: 2em;
    & + p {
        margin: 20px auto;
        padding: 20px 20px;
        border: 1px solid black;
        width: 65%;
        border-radius: 10px;
        line-height: 1.6em;
        font-size: 1.2em
    }
}





/*************** END STYLE FOR STATS ABOUT MS **************/















