// Libraries
@import 'bootstrap';

// Base
@import 'base/reset';
@import 'base/variables';

// Modules
@import 'modules/switch.scss';
@import 'modules/dashboard.scss';

/*************** GENERAL STYLE **************/

.pink-button {
    width: 200px;
    background-color: $pink;
    border-radius: 25px;
    color: white;
    padding: 1em;
    border: none;
    outline: none;
    letter-spacing: 0.1em;
}

/*************** END GENERAL STYLE **************/

/*************** STYLE FOR NAVIGATION BAR **************/

#wrapper {
    max-width: 95%;
    margin: 0 auto;
}

.site-header {
    padding: 1.8em 1.8em 0 1.8em;
    height: 99px;
}

.logo {
    margin: 35px 50px -7px;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    span {
        color: #2ECC71;
    }
}

#main_nav {
    float: right;
    padding-top: 0.8em;
}

.login_field {
    border-radius: 10px;
    padding-left: 30px;
}

#username-field {
    @extend .login_field;
    background: url(../img/user.svg) no-repeat scroll 7px 7px;
}

#password-field {
    @extend .login_field;
    margin: 0 1em;
    background: url(../img/lock.svg) no-repeat scroll 7px 7px;
}

#login-button {
    border-radius: 25px;
    border: 1px solid $green_main;
    outline: none;
    &:hover {
        background-color: $green_main;
    }
}

.switch-option {
    margin-top: 10px;
    span {
        margin: 0 8px;
        position: relative;
        top: -12px;
    }
}

/*************** END STYLE FOR NAVIGATION BAR **************/

/*************** STYLE FOR BIG BANNER **************/

#big-banner {
    height: 480px;
    background: url(../img/banner2.jpg) no-repeat top center;
}

#signup-button {
    @extend .pink-button;
    margin-top: 15em;
    &:hover {
        background-color: $pink - 10;
    }
}

#guest-button {
    width: 200px;
    background-color: $yellow_border;
    border-radius: 25px;
    color: white;
    padding: 1em;
    border: none;
    outline: none;
    letter-spacing: 0.1em;
    margin-top: 20px;
    &:hover {
        background-color: $yellow_border - 10;
    }
}

#learning-button + p a {
    color: white;
    letter-spacing: 0.1em;
    font-family: "HelveticaNeue-Light";
    position: relative;
    top: 16px;
    left: -16px;
    &:hover {
        text-decoration: none;
        color: black;
    }
}

#intro-text {
    margin-top: 100px;
    h1 {
        color: white;
        letter-spacing: 1.5px;
        font-size: 3em;
        font-weight: 500;
    }
    p {
        margin-top: 56px;
        font-size: 1.2em;
        color: white;
        letter-spacing: 1px;
        line-height: 2.5em;
    }
}

/*************** END STYLE FOR BIG BANNER **************/

/*************** STYLE FOR STATS ABOUT MS **************/

#stat {
    margin-bottom: 50px;
    margin-top: 50px;
    h2, p {
        text-align: center;
    }
    h2 {
        font-weight: bold;
        font-size: 3em;
        margin-bottom: 40px;
        letter-spacing: 1px;
    }
    h2 + p {
        font-size: 1.5em;
        width: 70%;
        margin: 50px auto;
    }
}

.round-number {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    width: 95px;
    height: 95px;
    padding: 28px 18px;
    font-weight: bold;
    font-size: 1.7em;
    & + p {
        margin: 20px auto;
        padding: 20px 20px;
        border: 1px solid $pink;
        width: 65%;
        border-radius: 10px;
        line-height: 1.6em;
        font-size: 1.2em
    }
}

#round-1 {
    border: 1px solid $pink;
}

#round-2 {
    border: 1px solid #FDA246;
}

#round-3 {
    border: 1px solid $green_main;
}

#stat-text1 {
    border: 1px solid $pink;
}

#stat-text2 {
    border: 1px solid $yellow_border;
}

#stat-text3 {
    border: 1px solid $green_main;
}
/*************** END STYLE FOR STATS ABOUT MS **************/


/*************** STYLE FOR TESTIMONY **************/

#testimony {
    margin-top: 50px;
    h3 {
        text-align: center;
        margin-bottom: 40px;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

.avatar {
    width: 100px;
    height: 100px;
    position: relative;
    left: 50px;
}

.testimony-article {
    margin-bottom: 30px;
    p {
        line-height: 1.7em;
        letter-spacing: 0.5px;
    }
}

/*************** END STYLE FOR TESTIMONY **************/

/*************** STYLE FOR FOOTER **************/

footer {
    margin-bottom: 0;
    height: 40px;
    background-color: $green_main;
    color: white;
    text-align: center;
    padding: 10px;
}

/*************** END STYLE FOR FOOTER **************/

