html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

#pots {
    min-height: 100%;
    // margin-top: 1px;
    padding: 50px 50px 150px 50px;
    background: url(../img/bgv1.png);
    background-size: cover;

    .row {
        margin-top: 40px;
        margin-bottom: 80px;
    }

    img {
        padding: 20px;
        border: 1px solid #2ECC71;
        border-radius: 15%;
        // background: rgba(0, 0, 0, 0.5), #2ECC71;
        background-color: rgba(46, 204, 113, 0.3);
        transition: all 0.4s ease;
        &:hover {
            background-color: rgba(46, 204, 113, 0.8);
        }
    }
}

#fixed-footer {
    bottom: 0;
    position:fixed;
    z-index: 150;
    width: 100%;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height: 150px;
}

.fixed-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#toggle-nav {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.3em;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
 {
    background-color:#2ECC71;
    font-weight:bolder;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color:white;
}
.nav-tabs > li > a
 {
    background-color: #FFE234;
    font-weight:bolder;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color:white;
    transition: 0.4s background ease;
    &:hover {
        background: #FFE234 - 15;
    }
}

.toggle-tab-custom-1 {
    text-align: center;
    width: 50%;
}

.toggle-tab-custom-2 {
    text-align: center;
    width: 50%;
}

.talkbubble {
    width: 250px;
    top: -100px;
    background: white;
    position: absolute;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
    
    p {
        margin-top: 10px;
        padding: 10px 5px;
        width: 100%;
        text-align: center;
    }
}

.talkbubble:before {
    left: 46%;
    content:"";
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    border-right: 13px solid transparent;
    border-top: 26px solid white;
    border-left: 13px solid transparent;
}

div[topicTitle] {
    img:hover {
        cursor: pointer;
    }
    img:hover ~ div {
        opacity: 1;
    }
    div {
        opacity: 0;
        transition: all .4s ease;
    }
}

// DEMO PURPOSE CHANGE THIS
.class-name {
    background: red;
}