$progress_0_red: #D72D00;
$progress_33_brown: #FF8F0D;
$progress_66_green: $green-main;

.custom-dropdown-toggle {
    color: black;
    text-transform: uppercase;
    img {
        height: 45px;
        width: 45px;
    }
}

.dropdown-position {
    position: relative;
    top: -17px;    
}

.dropdown-menu {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

/*Important:*/
.link-spanner {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}   
#big-working-button {
    position: relative;
    text-align: center;
    background: #006739;
     // background: url(http://www.w3schools.com/css/klematis.jpg) no-repeat, #282d37;
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
    transition: background-color 0.5s ease;
    &:after {
        content: "";
        background: url(../img/pot-wallpaper.png) repeat;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;   
    }

    h1 {
        letter-spacing: 2px;
    }
    p {
        margin-top: 20px;
        letter-spacing: 1px;
    }
    &:hover {
        text-decoration: none;
        background: $green-main;
    }
}

#math-section {
    background: url(../img/wallpaper-icon.png) repeat, #F2F2F2;
    padding-bottom: 30px;
}
// .visible { visibility: hidden; }

.section-panel {
    width: 90%;
    height: 200px;
    position: relative;
    // background-color: $progress_66_green;
    color: white;
    transition: all 0.5s;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.90;

    &:after {
        border-radius: 0;
        content:'\A';
        background: rgba(0,0,0,0.6);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }

    &:hover:after {
        opacity: 0.5;
    }

    h4 {
        padding: 0 10px;
        position: absolute;
        width: 100%;
        text-align: center; 
        z-index: 2;
        font-size: 1.5em;
        top: 30%;
        transition: all 0.5s ease;
        line-height: 1.5em;
        letter-spacing: 0.1em;
    }

    &:hover {
        cursor: pointer;
        h4 {
            top: 10%;
        }
        div {
            opacity: 0.95;
        }
    }

    .num-questions {
        width: 100%;
        text-align: center;
        position: absolute;
        z-index: 2;
        bottom: 18px;
        font-size: 3em;
        opacity: 0;
        transition: all 1s ease;
        p {
            font-size: 0.4em;
            text-align: center;
            z-index: 2;
        }
    }

    .progress {
        border-radius: 0;
        position: absolute;
        width: 100%;
        height: 10px;
        z-index: 2;
        bottom: -20px;

        .progress-bar {
            // background-color: $progress_66_green;
        }
    }
}

.zero-progress {
    background-color: $progress_0_red;
}

.thirty-three-progress {
    background-color: $progress_33_brown;
}

.sixty-six-progress {
    background-color: $progress_66_green;
}

