#navigation-back {
    display: inline-block;
    color: white;
    margin-top: -10px;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    div {
        text-align: center;
        padding: 10px 0;
        transition: all .4s ease;

        &:hover {
            cursor: pointer;
        }

        &:nth-child(1) {
            background: #2ECC71;

            &:hover {
                background: #2ECC71 - 20;
            }
        } 

        &:nth-child(2) {
            background: #FFE234;

            &:hover {
                background: #FFE234 - 20;
            }
        }
    }
}

#main-tutoring {
    background: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.50)),
                rgba(0,0,0,0.40) url('../img/banner2.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin-top: -5px;
    padding-top: 60px;
    min-height: 750px;
    max-height: 100%;

    .vertical-button {
        list-style: none; 
        display: inline-block;
        margin-top: 75px;

        div {
            border-radius: 5px;
            background: white;
            margin-bottom: 20px;
            width: 50px;
            height: 50px;
            img {
                display: block;
                margin: 0 auto;
            }
            &:nth-child(1) > img {
                padding-top: 13px;
            }
            &:nth-child(2) > img {
                padding-top: 10px;
            }

            .custom-dropdown-toggle img {
                padding-top: 15px;
                width: 35px;
                height: 35px;
            }

            &:hover {
                cursor: pointer;
                background: white - 10;
            }
        } 
    }

    .main-tutoring-frame {
        margin-right: 75px;
        .main-tutoring-panel {
            background: red;
            height: 500px;
        }
    }

    .virtual-character {
        height: 500px;
        background: blue;
        margin-top: 75px;
    }

    .buttons-below {
        margin-left: 30px;
        margin-bottom: 25px;
        color: black;
        .main-tutoring-button {
            height: 50px;
            background: white;
            text-align: center;
            padding-top: 14px;
            border-radius: 5px;

            &:hover {
                cursor: pointer;
                background: white - 10;
            }

            img {
                transform: scale(0.8);
                position: absolute;
                left: 10px;
            }

            &:nth-child(1) img {
                top: 5px;
            }

            &:nth-child(2) img {
                top: 9px;
            }

            &:nth-child(3) img {
                top: 8px;
            }
        }
    }
}
